
<!-- index of (child) addresses -->

<!-- UNFINISHED ... Time Pressing On! -->

<div class="container">
  <h1>Practice With Polymorphic Associations<h1>
  <h2>Index of Addresses<h2><br>

  <div class="row">
    <div class="col-md-12 well">
      <table class="table table-striped table-bordered small">
        <thead>
          <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @address.each do |address| %>
            <tr>
              <td><%= address.street_address %></td>
              <td><%= address.city %></td>
              <td><%= address.state_abbr %></td>
              <td><%= address.zip %></td>
              <td><%= address.stored_address_type if address.address.stored_address_id %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

</div>
