
<!-- index of addresses -->







<div class="container">
  <h1>Practice With Collection Forms<h1>
  <h2>Index of Posts<h2><br>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Create a New Post", new_post_path,
          class: "btn btn-primary btn-lg btn-block btn-create text-center"%><br>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 well">
      <table class="table table-striped table-bordered small">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Category</th>
            <th>Tag(s)</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.last(10).each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td><%= post.category.name if post.category %></td>
              <td><% post.tags.each do |tag| %>
                <%= tag.name %><br>
              <% end %></td>
              <td><%=link_to "Edit Post", edit_post_path(post)%></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>

</div>
